{% extends 'base.html' %}

{% load static %}

{% block title %}
  Alle artikelen - Eijgenraam.net
{% endblock title %}
{% block css %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link href="{% static 'css/posts.css' %}" rel="stylesheet" />
  <link href="{% static 'css/post.css' %}" rel="stylesheet" />
{% endblock css %}
{% block content %}
  <section id="all-posts">
    <ul>
      {% for post in posts %}
        {% include 'pages/articles/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
